# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# prisma
apps/**/prisma/migrations/

# cache
.turbo/
.cache/

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
.cursor/

# test
coverage/

# misc
*.tgz
